.badge
{
	align-items: center;
	background-color: $white;
	border-radius: 12px;
	border: solid 1px $porcelain;
	color: $bright-gray;
	display: inline-flex;
	font-size: 12px;
	height: 24px;
	margin: -3px 0;
	padding: 0 7px;
	vertical-align: middle;

	img
	{
		display: block;
		margin-right: 9px;
	}
}