.dc-card-image
{
	padding-top: 4*$lh;
	max-width: 480px;

	&__inner
	{
		background: $white;
		border-radius: 8px;
		border: solid 1px $porcelain;
		font-size: 14px;
		line-height: .75*$lh;
		padding: .5*$lh 1*$lh;
		text-align: center;
	}

	&__image
	{
		margin-bottom: .5*$lh;
		margin-top: -4*$lh;
	}

	&__title
	{
		font-size: 16px;
		font-weight: 700;
	}

	&__text
	{
		margin-top: .5*$lh;

		p + p
		{
			margin-top: .5*$lh;
		}
	}

	&__points
	{
		align-items: center;
		border-top: 1px solid $iron;
		display: flex;
		margin-top: .5*$lh;
		padding-top: .5*$lh;
		justify-content: space-around;
		text-align: left;
	}

	&__points-text
	{
		line-height: .75*$lh;

		a
		{
			color: $apple;
			text-decoration: underline;
		}
	}

	&__points-value
	{
		font-size: 18px;
		font-weight: 700;
	}
}

.dc-card-doubt
{
	justify-self: center;
	max-width: 320px;

	&__inner
	{
		align-items: center;
		background: $white;
		background-image: url('../images/icon-doubt-grey.svg');
		background-repeat: no-repeat;
		background-position: 1*$lh .75*$lh;
		border-radius: 8px;
		border: solid 1px $porcelain;
		display: flex;
		height: 6.5*$lh;
		padding: 0 1*$lh;
		justify-content: center;
		text-align: center;
	}

	&__image
	{
		display: inline-block;
	}

	&__title
	{
		font-size: 20px;
		font-weight: 700;
		margin-bottom: .5*$lh;
	}
}

.dc-card-loan
{
	background: $white;
	border-radius: 8px;
	border: solid 1px $porcelain;
	font-size: 14px;
	line-height: .75*$lh;
	padding: $dc1;

	&__top
	{
		align-items: center;
		border-bottom: 1px solid $porcelain;
		display: flex;
		justify-content: space-between;
		margin-bottom: .5*$dc1;
		padding-bottom: .5*$dc1;
	}

	&__bottom
	{
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	&__title
	{
		align-items: center;
		display: flex;
		font-size: 16px;
		font-weight: 700;
	}

	&__text a,
	&__view-detail
	{
		color: $apple;
		text-decoration: underline;
		white-space: nowrap;
	}

	&__button
	{
		display: block;
	}

	&__icon
	{
		display: block;
		margin-right: 1*$lh;
	}

	@include c-down
	{
		&__icon
		{
			display: none;
		}
	}

	@include c
	{
		padding: $dc2 $dc1;

		&__top
		{
			margin-bottom: $dc1;
			padding-bottom: $dc1;
		}

		&__title
		{
			font-size: 18px;
		}
	}

}

.dc-card-new-loan
{
	display: grid;
	grid-template-columns: 3.5*$lh 1fr;
	font-size: 14px;
	line-height: .75*$lh;

	&__link
	{
		border-radius: 8px 0 0 8px;
		display: block;
		height: 100%;
		overflow: hidden;
		width: 100%;
	}

	&__image
	{
		display: block;
		height: 100%;
		object-fit: cover;
		width: inherit;
	}

	&__content
	{
		border-radius: 0 8px 8px 0;
		border: solid 1px $porcelain;
		border-left: 0;
		background: $white;
		padding: $dc1;
	}

	&__title
	{
		font-weight: 700;
		margin-bottom: .5*$dc1;
	}

	&__button
	{
		display: none;
	}

	@include c
	{
		grid-template-columns: minmax(0, 1fr);
		text-align: center;

		&__link
		{
			border-radius: 8px 8px 0 0;
		}

		&__content
		{
			border-radius: 0 0 8px 8px;
		}

		&__title
		{
			font-size: 16px;
			margin-bottom: $dc1;
		}

		&__button
		{
			display: inline-block;
			margin-top: $dc1;
		}
	}
}