.input-label
{
	color: $bright-gray;
	display: block;
	font-size: 14px;
	font-weight: 600;
	line-height: .75*$lh;
	padding: .125*$lh 0;
}

.input-help
{
	color: $oslo-gray;
	display: block;
	font-size: 12px;
	line-height: .75*$lh;
	padding: .125*$lh 0;

	a
	{
		color: $selective-yellow;
		text-decoration: underline;
	}
}

.input-text
{
	background-color: $white;
	border: solid 2px $iron;
	border-radius: 2px;
	color: $bright-gray;
	font-size: 14px;
	height: 1.5*$lh;
	line-height: 37px;
	padding: 0 .5*$lh;
	width: 100%;

	@include placeholder
	{
		color: $french-gray;
		opacity: 1;
	}

	&--success
	{
		border-color: $apple;
	}

	&--error
	{
		border-color: $error;
	}

	&:focus
	{
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
	}
}

.input-text--code
{
	font-size: 18px;
	font-weight: 700;
	height: 1.5*$lh;
	line-height: 1.5*$lh;
	text-align: center;
	width: 1.5*$lh;

	@include a
	{
		height: 2*$lh;
		line-height: 2*$lh;
		width: 2*$lh;
	}

	@include placeholder
	{
		color: $selective-yellow;
	}
}

.input-radio
{
	@include remove-highlight;
	position: relative;

	input
	{
		border-radius: 50%;
		border: 2px solid $apple;
		display: block;
		height: 16px;
		left: .75*$lh;
		margin-right: .5*$lh;
		position: absolute;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 16px;
		z-index: 2;
	}

	input:checked
	{
		&::after
		{
			background: $apple;
			border-radius: 50%;
			content: '';
			display: block;
			height: 8px;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 8px;
		}
	}

	label
	{
		align-items: center;
		background-color: $white;
		border: solid 2px $iron;
		border-radius: 2px;
		color: $bright-gray;
		cursor: pointer;
		font-size: 14px;
		height: 1.5*$lh;
		line-height: 37px;
		padding: 0 .5*$lh 0 1.75*$lh;
		//transition: transform .1s linear;
		width: 100%;
	}

	input:checked + label
	{
		box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
		padding: 0 .5*$lh 0 2*$lh;
		transform: scaleX(1.03) scaleY(1.08);
	}

}

.input-checkbox
{
	align-items: center;
	color: $bright-gray;
	font-size: 13px;
	display: flex;

	a
	{
		color: $apple;
		text-decoration: underline;
	}

	input
	{
		border: 2px solid $apple;
		border-radius: 2px;
		display: block;
		height: 16px;
		margin-right: .25*$lh;
		position: relative;
		width: 16pX;

	}

	input:checked
	{
		&::after
		{
			background: $apple;
			content: '';
			display: block;
			height: 8px;
			left: 50%;
			position: absolute;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 8px;
		}
	}

	label
	{
		cursor: pointer;
	}
}

.input-range
{
	&__top,
	&__bottom
	{
		display: flex;
		justify-content: space-between;
	}

	&__bottom
	{
		padding: 0 .25*$lh;
	}

	&__input-wrapper
	{
		padding: .5*$lh 0;
	}

	&__label
	{
		font-size: 12px;
		font-weight: 600;
	}

	&__value-wrapper
	{
		font-size: 18px;
		font-weight: 700;
	}

	&__min,
	&__max
	{
		color: $oslo-gray;
		font-size: 12px;
		font-weight: 600;
	}

	@include e
	{
		&--large &__top
		{
			margin-bottom: .5*$lh;
		}

		&--large &__label,
		&--large &__min,
		&--large &__max,
		{
			font-size: 18px;
		}

		&--large &__value-wrapper
		{
			font-size: 24px;
		}

		&--large &__input-wrapper
		{
			padding: .5*$lh 2*$lh;
		}
	}

}

.input-range__input + .slider-container
{
	width: 100% !important;

	.back-bar
	{
		background: $iron;
		border-radius: 8px;
		height: 11px;
	}

	.selected-bar
	{
		background: $atlantis;
		border-radius: 8px 0 0 8px;
	}

	.pointer
	{
		background: $apple;
		border: 3px solid $white;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
		height: 22px;
		width: 22px;
	}
}

.input-upload
{
	align-items: center;
	background-color: $porcelain;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	height: 6*$lh;
	justify-content: center;
	padding: 0 1.75*$lh;

	&__text
	{
		color: $slate-gray;
		font-size: 12px;
		margin-top: .5*$lh;
		line-height: .5*$lh;
		text-align: center;
	}

	&:hover
	{
		background-color: darken($porcelain, 5%);
	}
}

.input-search
{
	background-color: $white;
	background-image: url('../images/icon-search.svg');
	background-repeat: no-repeat;
	background-position: calc(100% - 16px) 50%;
	background-size: auto 20px;
	border-radius: 4px;
	border: solid 1px $porcelain;
	box-shadow: 0 0 6px 0 rgba(124, 138, 147, 0.25);
	color: $bright-gray;
	font-size: 18px;
	height: 1.5*$lh;
	padding: 0 16px;

  	@include placeholder
  	{
  		opacity: .5;
  	}

	@include e
	{
		background-size: auto 26px;
		height: 2*$lh;
	}
}

// Spacing

.input-group
{
	.input-help + .input-control
	{
		margin-top: 4px;
	}

	.input-label + .input-table
	{
		margin-top: 13px;
	}

	.input-label + .input-control
	{
		margin-top: 8px;
	}

	.input-control
	{
		display: grid;
		grid-column-gap: .5*$lh;
		grid-row-gap: .5*$lh;
	}

	.input-control--1-4
	{
		grid-template-columns: 1fr 4fr;
	}

	.input-control--1-1
	{
		grid-template-columns: 1fr 1fr;
	}

	.input-control--1-1-1-1-1
	{
		grid-column-gap: .5*$lh;
		grid-template-columns: auto auto auto auto auto;
		justify-content: center;
	}
}