$tss: 16px / 2;
$tsl: 24px / 2;

.table
{
	background: $porcelain;
	border: solid 1px $porcelain;
	font-size: 14px;
	line-height: 18px;
	padding: $tss 0;
	overflow-x: auto;

	table
	{
		width: 100%;
	}

	td,
	th
	{
		text-align: left;
		padding: $tss 2*$tss;
		white-space: nowrap;
	}

	td
	{
		vertical-align: middle;
	}

	strong
	{
		font-weight: 600;
	}

	&__grow-1
	{
		width: 100%;
	}

	&__grow-2
	{
		width: 50%;
	}

	&__grow-3
	{
		width: 33%;
	}

	&__right
	{
		text-align: right !important;
	}

	&__center
	{
		text-align: center !important;
	}

	tfoot
	{
		border-top: solid 1px $iron;
	}
}

.table.table--grow
{
	@include c
	{
		padding: $tsl 0;

		th,
		td
		{
			padding: $tsl 2*$tsl;
		}
	}
}

.table.table--style-2
{
	background: transparent;
	border: 0;
	padding: 0;

	table
	{
		border: 0;
	}

	thead
	{
		background: $porcelain;
		border-bottom: solid 2px $iron;
		border-left: solid 2px $iron;
		border-right: solid 2px $iron;
	}

	tbody
	{
		background: $white;
		border-bottom: solid 2px $iron;
		border-left: solid 2px $iron;
		border-right: solid 2px $iron;
	}

	tfoot
	{
		background: transparent;
		border-right: solid 2px $iron;
	}

	.table__total
	{
		background: $white;
		border-bottom: solid 2px $iron;
		border-left: solid 2px $iron;
		font-size: 14px;
		font-weight: 700;

		@include c
		{
			font-size: 18px;
			padding: $dc1;
		}
	}

	.table__total-amount
	{
		margin-left: 8px;
	}

}

.table.table--white
{
	background: $white;
}

.table.table--style-3
{
	@include c
	{
		font-size: 16px;
	}
}