.title-1
{
	color: $bright-gray;
	font-family: $ff1;
	font-size: 36px;
	font-weight: 700;
	line-height: 1.5*$lh;

	@include e
	{
		font-size: 48px;
		line-height: 1.75*$lh;
	}

	@include g
	{
		font-size: 60px;
		line-height: 2*$lh;
	}
}

.title-2
{
	color: $bright-gray;
	font-family: $ff1;
	font-size: 30px;
	font-weight: 700;
	line-height: 1.25*$lh;

	br
	{
		display: none;
	}

	@include a
	{
		br
		{
			display: inline;
		}
	}

	@include e
	{
		font-size: 40px;
		line-height: 1.5*$lh;
	}

	@include g
	{
		font-size: 50px;
		line-height: 2*$lh;
	}
}

.title-3
{
	color: $bright-gray;
	font-family: $ff1;
	font-size: 18px;
	font-weight: 700;
	line-height: 1*$lh;

	@include e
	{
		font-size: 24px;
		line-height: 1.25*$lh;
	}

	@include g
	{
		font-size: 30px;
		line-height: 1.5*$lh;
	}
}

.title-4
{
	color: $mine-shaft;
	font-size: 18px;
	font-weight: 700;
	line-height: .75*$lh;

	@include g
	{
		font-size: 27px;
		line-height: 1*$lh;
	}
}

.title-5
{
	color: $mine-shaft;
	font-size: 24px;
	font-weight: 700;
	line-height: .75*$lh;

	@include e
	{
		font-size: 32px;
		line-height: 1.25*$lh;
	}
}

.title-1,
.title-2,
.title-3,
.title-4
{
	a
	{
		color: $apple;
	}
}

.subtitle-1
{
	color: $apple;
	font-family: $ff1;
	font-size: 18px;
	font-weight: 700;
	line-height: 1*$lh;

	@include e
	{
		font-size: 20px;
		line-height: 1*$lh;
	}

	@include g
	{
		font-size: 25px;
		line-height: 1.25*$lh;
	}
}

.text-1
{
	color: $bright-gray;
	font-family: $ff1;
	font-size: 16px;
	font-weight: 400;
	line-height: .75*$lh;

	@include e
	{
		font-size: 20px;
		line-height: 1*$lh;
	}

	@include g
	{
		font-size: 20px;
		line-height: 1.25*$lh;
	}
}

.text-2
{
	color: $bright-gray;
	font-family: $ff1;
	font-size: 16px;
	line-height: .75*$lh;

	@include e
	{
		line-height: 1*$lh;
	}

	@include g
	{
		font-size: 18px;
		line-height: 1*$lh;
	}
}

.text-3
{
	color: $bright-gray;
	font-family: $ff1;
	font-size: 16px;
	line-height: 1*$lh;

	@include e
	{
		font-size: 18px;
		line-height: 1*$lh;
	}
}

.text-small
{
	font-size: 12px;
	font-weight: 500;
	line-height: .6*$lh;
}




.title-2 + .text-1
{
	margin-top: .25*$lh;

	@include e
	{
		margin-top: .5*$lh;
	}
}




.text-steps
{
	&__item
	{
		counter-increment: number;
		margin-bottom: 1*$lh;
		padding-left: 2*$lh;
		position: relative;
	}

	&__number
	{
		align-items: center;
		background: $white;
		border-radius: 50%;
		border: 3px solid $apple;
		box-sizing: border-box;
		color: $apple;
		display: flex;
		font-size: 16px;
		font-weight: 700;
		height: 1.5*$lh;
		justify-content: center;
		left: 0;
		position: absolute;
		width: 1.5*$lh;
		top: .25*$lh;
	}

	&__title
	{
		align-items: center;
		display: flex;
		min-height: 2*$lh;
		margin-bottom: .5*$lh;
	}

	@include e
	{
		&__item
		{
			padding-left: 3.5*$lh;
		}

		&__number
		{
			font-size: 28px;
			height: 2.5*$lh;
			width: 2.5*$lh;
		}

		&__title
		{
			min-height: 3*$lh;
		}
	}
}

.text-green
{
	color: $apple !important;
}

.text-center
{
	text-align: center;
}