.posts-last
{
	background-image: url('../images/posts-last-bg-1.svg'), url('../images/posts-last-bg-2.svg');
	background-position: left center, right bottom;
	background-repeat: no-repeat;
	background-size: auto 400px, auto 300px;
	margin-bottom: -1px; //fix svg
	padding: 3*$lh 0;
	text-align: center;

	&__heading
	{
		margin-bottom: 2*$lh;
	}

	&__button-wrapper
	{
		margin-top: 1.5*$lh;
	}

	@include e
	{
		background-size: auto 586px, auto 454px;
		padding: 5*$lh 0 6*$lh 0;

		&__heading
		{
			margin-bottom: 3*$lh;
		}

		&__button-wrapper
		{
			margin-top: 2*$lh;
		}
	}

	@include g
	{
		background-size: auto 700px, auto 600px;
		padding: 6*$lh 0 7*$lh 0;

		&__heading
		{
			margin-bottom: 4*$lh;
		}

		&__button-wrapper
		{
			margin-top: 3*$lh;
		}
	}
}
