.slider-container {
  width: 300px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.slider-container .back-bar {
  height: 10px;
  position: relative; }

.slider-container .back-bar .selected-bar {
  position: absolute;
  height: 100%; }

.slider-container .back-bar .pointer {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  cursor: col-resize;
  opacity: 1;
  z-index: 2; }

.slider-container .back-bar .pointer.last-active {
  z-index: 3; }

.slider-container .back-bar .pointer-label {
  position: absolute;
  top: -17px;
  font-size: 8px;
  background: white;
  white-space: nowrap;
  line-height: 1; }

.slider-container .back-bar .focused {
  z-index: 10; }

.slider-container .clickable-dummy {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1; }

.slider-container .scale {
  top: 2px;
  position: relative; }

.slider-container .scale span {
  position: absolute;
  height: 5px;
  border-left: 1px solid #999;
  font-size: 0; }

.slider-container .scale ins {
  font-size: 9px;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 5px;
  color: #999;
  line-height: 1; }

.slider-container.slider-readonly .clickable-dummy,
.slider-container.slider-readonly .pointer {
  cursor: auto; }

.theme-green .back-bar {
  height: 5px;
  border-radius: 2px;
  background-color: #eeeeee;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0); }

.theme-green .back-bar .selected-bar {
  border-radius: 2px;
  background-color: #a1fad0;
  background-image: -moz-linear-gradient(top, #bdfade, #76fabc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bdfade), to(#76fabc));
  background-image: -webkit-linear-gradient(top, #bdfade, #76fabc);
  background-image: -o-linear-gradient(top, #bdfade, #76fabc);
  background-image: linear-gradient(to bottom, #bdfade, #76fabc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbdfade', endColorstr='#ff76fabc', GradientType=0); }

.theme-green .back-bar .pointer {
  width: 14px;
  height: 14px;
  top: -5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #AAA;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0); }

.theme-green .back-bar .pointer-label {
  color: #999; }

.theme-green .back-bar .focused {
  color: #333; }

.theme-green .scale span {
  border-left: 1px solid #e5e5e5; }

.theme-green .scale ins {
  color: #999; }

.theme-blue .back-bar {
  height: 5px;
  border-radius: 2px;
  background-color: #eeeeee;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0); }

.theme-blue .back-bar .selected-bar {
  border-radius: 2px;
  background-color: #92c1f9;
  background-image: -moz-linear-gradient(top, #b1d1f9, #64a8f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b1d1f9), to(#64a8f9));
  background-image: -webkit-linear-gradient(top, #b1d1f9, #64a8f9);
  background-image: -o-linear-gradient(top, #b1d1f9, #64a8f9);
  background-image: linear-gradient(to bottom, #b1d1f9, #64a8f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffb1d1f9', endColorstr='#ff64a8f9', GradientType=0); }

.theme-blue .back-bar .pointer {
  width: 14px;
  height: 14px;
  top: -5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid #AAA;
  background-color: #e7e7e7;
  background-image: -moz-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eeeeee), to(#dddddd));
  background-image: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  background-image: -o-linear-gradient(top, #eeeeee, #dddddd);
  background-image: linear-gradient(to bottom, #eeeeee, #dddddd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee', endColorstr='#ffdddddd', GradientType=0); }

.theme-blue .back-bar .pointer-label {
  color: #999; }

.theme-blue .back-bar .focused {
  color: #333; }

.theme-blue .scale span {
  border-left: 1px solid #e5e5e5; }

.theme-blue .scale ins {
  color: #999; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

input,
label,
select,
button,
textarea {
  -webkit-appearance: none;
  background: none;
  border: 0;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  white-space: normal; }

input:focus {
  outline: 0; }

::-webkit-search-decoration {
  display: none; }

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
  overflow: visible;
  width: auto; }

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
  padding: 0;
  border: 0;
  background: none; }

/* Textarea
-----------------------------------------------*/
textarea {
  /* Move the label to the top */
  vertical-align: top;
  /* Turn off scroll bars in IE unless needed */
  overflow: auto; }

/* Selects
-----------------------------------------------*/
select[multiple] {
  /* Move the label to the top */
  vertical-align: top; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  color: #394250;
  font-family: "Nunito", sans-serif;
  font-variant-ligatures: none;
  font-weight: 400;
  height: 100%;
  line-height: 26px;
  min-width: 320px;
  overflow-x: hidden; }
  body.body--grey {
    background: #eff2f3; }

a {
  color: inherit;
  text-decoration: none; }

pre {
  background: #fff;
  color: #2d3047;
  font-family: monospace; }

b,
strong {
  font-weight: 700; }

.nowrap {
  white-space: nowrap; }

.global-inner {
  margin: 0 auto;
  width: calc(100% - 56px);
  /*
	@include f
	{
		width: 1280px;
	}

	@include g
	{
		width: 1680px;
	}
	*/ }
  @media (min-width: 768px) {
    .global-inner {
      width: 716px; } }
  @media (min-width: 1024px) {
    .global-inner {
      width: 960px; } }
  @media (min-width: 1366px) {
    .global-inner {
      width: 1100px; } }
  @media (min-width: 1800px) {
    .global-inner {
      width: 1400px; } }

.global-inner-fluid {
  margin: 0 auto;
  width: calc(100% - 56px); }
  @media (min-width: 1800px) {
    .global-inner-fluid {
      width: calc(100% - 112px); } }

body:before {
  align-items: center;
  background: black;
  color: white;
  content: '0';
  display: flex;
  height: 20px;
  justify-content: center;
  position: fixed;
  right: 20px;
  top: 0;
  width: 20px;
  z-index: 999; }
  @media (min-width: 480px) {
    body:before {
      content: 'A'; } }
  @media (min-width: 640px) {
    body:before {
      content: 'B'; } }
  @media (min-width: 768px) {
    body:before {
      content: 'C'; } }
  @media (min-width: 1024px) {
    body:before {
      content: 'D'; } }
  @media (min-width: 1366px) {
    body:before {
      content: 'E'; } }
  @media (min-width: 1440px) {
    body:before {
      content: 'F'; } }
  @media (min-width: 1800px) {
    body:before {
      content: 'G'; } }

.button {
  background-color: #5ba637;
  border-radius: 18px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  height: 39px;
  line-height: 39px;
  padding: 0 26px;
  text-align: center;
  transition: background-color .1s; }
  .button:hover {
    background-color: #46802a; }

.button.button--md {
  border-radius: 23px;
  height: 45.5px;
  line-height: 45.5px; }
  @media (min-width: 1800px) {
    .button.button--md {
      border-radius: 30px;
      font-size: 20px;
      height: 65px;
      line-height: 65px;
      padding: 0 39px; } }

.button-2 {
  background-color: #fff;
  border: 1px solid #5ba637;
  border-radius: 18px;
  color: #5ba637;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  height: 33.8px;
  line-height: 31.8px;
  padding: 0 26px;
  text-align: center;
  transition: background-color .1s; }
  .button-2:hover {
    background-color: rgba(91, 166, 55, 0.2); }
  @media (min-width: 1800px) {
    .button-2 {
      border-radius: 30px;
      font-size: 18px;
      height: 45.5px;
      line-height: 43.5px; } }

.title-1 {
  color: #394250;
  font-family: "Nunito", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 39px; }
  @media (min-width: 1366px) {
    .title-1 {
      font-size: 48px;
      line-height: 45.5px; } }
  @media (min-width: 1800px) {
    .title-1 {
      font-size: 60px;
      line-height: 52px; } }

.title-2 {
  color: #394250;
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 32.5px; }
  .title-2 br {
    display: none; }
  @media (min-width: 480px) {
    .title-2 br {
      display: inline; } }
  @media (min-width: 1366px) {
    .title-2 {
      font-size: 40px;
      line-height: 39px; } }
  @media (min-width: 1800px) {
    .title-2 {
      font-size: 50px;
      line-height: 52px; } }

.title-3 {
  color: #394250;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; }
  @media (min-width: 1366px) {
    .title-3 {
      font-size: 24px;
      line-height: 32.5px; } }
  @media (min-width: 1800px) {
    .title-3 {
      font-size: 30px;
      line-height: 39px; } }

.title-4 {
  color: #222222;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.5px; }
  @media (min-width: 1800px) {
    .title-4 {
      font-size: 27px;
      line-height: 26px; } }

.title-5 {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
  line-height: 19.5px; }
  @media (min-width: 1366px) {
    .title-5 {
      font-size: 32px;
      line-height: 32.5px; } }

.title-1 a,
.title-2 a,
.title-3 a,
.title-4 a {
  color: #5ba637; }

.subtitle-1 {
  color: #5ba637;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px; }
  @media (min-width: 1366px) {
    .subtitle-1 {
      font-size: 20px;
      line-height: 26px; } }
  @media (min-width: 1800px) {
    .subtitle-1 {
      font-size: 25px;
      line-height: 32.5px; } }

.text-1 {
  color: #394250;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px; }
  @media (min-width: 1366px) {
    .text-1 {
      font-size: 20px;
      line-height: 26px; } }
  @media (min-width: 1800px) {
    .text-1 {
      font-size: 20px;
      line-height: 32.5px; } }

.text-2 {
  color: #394250;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 19.5px; }
  @media (min-width: 1366px) {
    .text-2 {
      line-height: 26px; } }
  @media (min-width: 1800px) {
    .text-2 {
      font-size: 18px;
      line-height: 26px; } }

.text-3 {
  color: #394250;
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 26px; }
  @media (min-width: 1366px) {
    .text-3 {
      font-size: 18px;
      line-height: 26px; } }

.text-small {
  font-size: 12px;
  font-weight: 500;
  line-height: 15.6px; }

.title-2 + .text-1 {
  margin-top: 6.5px; }
  @media (min-width: 1366px) {
    .title-2 + .text-1 {
      margin-top: 13px; } }

.text-steps__item {
  counter-increment: number;
  margin-bottom: 26px;
  padding-left: 52px;
  position: relative; }

.text-steps__number {
  align-items: center;
  background: #fff;
  border-radius: 50%;
  border: 3px solid #5ba637;
  box-sizing: border-box;
  color: #5ba637;
  display: flex;
  font-size: 16px;
  font-weight: 700;
  height: 39px;
  justify-content: center;
  left: 0;
  position: absolute;
  width: 39px;
  top: 6.5px; }

.text-steps__title {
  align-items: center;
  display: flex;
  min-height: 52px;
  margin-bottom: 13px; }

@media (min-width: 1366px) {
  .text-steps__item {
    padding-left: 91px; }
  .text-steps__number {
    font-size: 28px;
    height: 65px;
    width: 65px; }
  .text-steps__title {
    min-height: 78px; } }

.editor p {
  margin-bottom: 26px; }

@media (min-width: 1366px) {
  .editor {
    font-size: 18px; } }

@media (min-width: 1366px) {
  .editor {
    font-size: 20px;
    line-height: 32.5px; } }

/* 
.input-text
{
	background: $white;
	border: 1px solid $silver;
	border-radius: 6px;
	color: $ebony-clay;
	display: block;
	font-size: 11px;
	height: 1.5*$lh;
	padding: 0 .5*$lh;
	width: 100%;

	@include placeholder {
		color: $silver;
		opacity: 1;
	}

	&:focus
	{
		box-shadow: 0 0 12px rgba(0, 0, 0, .15);
	}

	@include l
	{
		font-size: 13px;
		padding: 0 .75*$lh;
	}

	&--disabled
	{
		background-color: $concrete;
		border-color: $concrete;
	}

}

.input-switch
{
	@include remove-highlight;

	input[type='checkbox']
	{
		display: none;
	}

	label
	{
		background-color: transparentize(#747474, .65);
		border: 1px solid $sunglow;
		border-radius: 26px;
		cursor: pointer;
		height: 16px;
		position: relative;
		width: 28px;

		&::after
		{
			background-color: $sunglow;
			border-radius: 50%;
			content: '';
			height: 18px;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateX(-4px) translateY(-50%);
			transition: transform .2s ease;
			width: 18px;
		}
	}

	input[type='checkbox']:checked + label
	{
		&::after
		{
			transform: translateX(calc( 100% - 4px)) translateY(-50%);
		}
	}

	@include l
	{
		label
		{
			height: 24px;
			width: 40px;

			&::after
			{
				transform: translateX(2px) translateY(-50%);
			}
		}

		input[type='checkbox']:checked + label
		{
			&::after
			{
				transform: translateX(100%) translateY(-50%);
			}
		}
	}
}


.input-search
{
	background-color: $white;
	background-image: url('../images/search-icon.svg');
	background-position: 12px 50%;
	background-repeat: no-repeat;
	background-size: 14px auto;
	border: 1px solid $silver;
	border-radius: 6px;
	color: $ebony-clay;
	display: block;
	font-size: 11px;
	height: 1.5*$lh;
	padding: 0 .5*$lh 0 1.5*$lh;
	position: relative;
	width: 100%;

	@include placeholder
	{
		color: $silver;
		opacity: 1;
	}


	&:focus
	{
		border-color: $ebony-clay;
	}
}

.input-checkbox
{
	display: none;
}

.input-checkbox + label
{
	align-items: center;
	color: $silver;
	cursor: pointer;
	display: flex;
	font-size: 11px;

	&::before
	{
		border: 1px solid $silver;
		color: $white;
		content: ' ';
		display: inline-block;
		font-size: 8px;
		height: 11px;
		margin-right: 6px;
		text-align: center;
		width: 11px;
	}
}

.input-checkbox:checked + label
{
	&::before
	{
		background: $sunglow;
		border: 1px solid $sunglow;
		content: '\2713';
	}
}



.input-checkbox.input-checkbox--filter + label
{
	font-size: 15px;

	&::before
	{
		border-radius: 50%;
		height: 7px;
		margin-right: 10px;
		width: 7px;
	}
}

.input-checkbox.input-checkbox--filter:checked + label
{
	color: $sunglow;

	&::before
	{
		content: '';
	}
}

.tag
{
	background: $mercury;
	border-radius: 15px;
	color: $silver;
	display: inline-block;
	font-size: 12px;
	height: 19px;
	line-height: 19px;
	padding: 0 10px 0 20px;
	position: relative;

	&::before
	{
		color: $gray;
		content: 'x';
		display: block;
		font-size: 12px;
		left: 8px;
		margin-right: 5px;
		position: absolute;
		top: -1px;
	}

	&:hover
	{
		background: $concrete;
	}
}

*/
.input-range__top, .input-range__bottom {
  display: flex;
  justify-content: space-between; }

.input-range__bottom {
  padding: 0 6.5px; }

.input-range__input-wrapper {
  padding: 13px 0; }

.input-range__label {
  font-size: 12px;
  font-weight: 600; }

.input-range__value-wrapper {
  font-size: 18px;
  font-weight: 700; }

.input-range__min, .input-range__max {
  color: #8B8F96;
  font-size: 12px;
  font-weight: 600; }

@media (min-width: 1366px) {
  .input-range--large .input-range__top {
    margin-bottom: 13px; }
  .input-range--large .input-range__label,
  .input-range--large .input-range__min,
  .input-range--large .input-range__max {
    font-size: 18px; }
  .input-range--large .input-range__value-wrapper {
    font-size: 24px; }
  .input-range--large .input-range__input-wrapper {
    padding: 13px 52px; } }

.input-range__input + .slider-container {
  width: 100% !important; }
  .input-range__input + .slider-container .back-bar {
    background: #E2E3E5;
    border-radius: 8px;
    height: 11px; }
  .input-range__input + .slider-container .selected-bar {
    background: #78D64B;
    border-radius: 8px 0 0 8px; }
  .input-range__input + .slider-container .pointer {
    background: #5ba637;
    border: 3px solid #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    height: 22px;
    width: 22px; }

.input-search {
  background-color: #fff;
  background-image: url("../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) 50%;
  background-size: auto 20px;
  border-radius: 4px;
  border: solid 1px #eff2f3;
  box-shadow: 0 0 6px 0 rgba(124, 138, 147, 0.25);
  color: #394250;
  font-size: 18px;
  height: 39px;
  padding: 0 16px; }
  .input-search::-webkit-input-placeholder {
    opacity: .5; }
  .input-search::-moz-placeholder {
    opacity: .5; }
  .input-search:-ms-input-placeholder {
    opacity: .5; }
  .input-search::-ms-input-placeholder {
    opacity: .5; }
  .input-search:-moz-placeholder {
    opacity: .5; }
  .input-search::placeholder {
    opacity: .5; }
  @media (min-width: 1366px) {
    .input-search {
      background-size: auto 26px;
      height: 52px; } }

.pagination {
  text-align: center; }
  .pagination__list {
    display: inline-flex; }
  .pagination__item {
    align-items: center;
    color: #7c8a93;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    height: 34px;
    justify-content: center;
    width: 34px; }
    .pagination__item:hover:not(.pagination__item--current):not(.pagination__item--arrow-disabled) {
      color: #637079; }
    .pagination__item--current {
      color: #5ba637; }
    .pagination__item--arrow {
      background-color: #5ba637;
      border-radius: 4px;
      color: #fff;
      width: 34px; }
      .pagination__item--arrow:hover {
        background-color: #46802a; }
    .pagination__item--arrow-disabled {
      background-color: none;
      border-radius: 4px;
      border: 2px solid #5ba637;
      color: #5ba637;
      width: 34px; }
  .pagination__link {
    align-items: center;
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: center; }

.posts-item {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  overflow: hidden;
  text-align: left; }
  .posts-item__image {
    height: auto;
    width: 100%; }
  .posts-item__content {
    display: grid;
    padding: 13px 26px 19.5px;
    grid-row-gap: 17.16px; }
  .posts-item__excerpt {
    margin-top: 17.16px; }
  .posts-item__date {
    color: #7c8a93;
    font-size: 14px; }
  @media (min-width: 1800px) {
    .posts-item__date {
      font-size: 16px; } }

.posts-item-hz {
  position: relative; }
  .posts-item-hz::before {
    background-image: linear-gradient(148deg, #78d64b -15%, #ffb300 138%);
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    content: '';
    display: block;
    height: 182px;
    left: -8px;
    position: absolute;
    top: -8px;
    width: 100%;
    z-index: 1; }
  .posts-item-hz:nth-child(even)::before {
    background-image: linear-gradient(142deg, #78d64b -2%, #1583d8 125%); }
  .posts-item-hz__wrapper {
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    overflow: hidden;
    position: relative;
    text-align: left;
    z-index: 2; }
  .posts-item-hz__image {
    height: 182px;
    object-fit: cover;
    width: 100%; }
  .posts-item-hz__content {
    display: grid;
    padding: 13px 26px 19.5px; }
  .posts-item-hz__excerpt {
    margin-top: 17.16px; }
  @media (min-width: 768px) {
    .posts-item-hz {
      height: 182px; }
      .posts-item-hz::before {
        height: 182px;
        width: 273px; }
      .posts-item-hz:nth-child(even)::before {
        left: initial;
        right: -8px; }
      .posts-item-hz__wrapper {
        display: grid;
        height: inherit;
        grid-template-columns: auto auto; }
      .posts-item-hz__content {
        padding: 26px 19.5px; }
      .posts-item-hz__image {
        height: inherit;
        width: auto; }
      .posts-item-hz:nth-child(even) .posts-item-hz__content {
        order: 1;
        text-align: right; }
      .posts-item-hz:nth-child(even) .posts-item-hz__image {
        order: 2; } }
  @media (min-width: 1024px) {
    .posts-item-hz {
      height: 208px; }
      .posts-item-hz::before {
        height: 208px;
        width: 312px; } }
  @media (min-width: 1366px) {
    .posts-item-hz {
      height: 234px; }
      .posts-item-hz::before {
        height: 234px;
        width: 351px;
        left: -16px;
        top: -16px; }
      .posts-item-hz:nth-child(even)::before {
        right: -16px; }
      .posts-item-hz__content {
        padding: 39px 32.5px; } }

.posts-layout {
  display: grid;
  grid-column-gap: 26px;
  grid-row-gap: 26px;
  grid-template-columns: minmax(0, 280px);
  justify-content: center; }
  @media (min-width: 640px) {
    .posts-layout {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-column-gap: 45.5px;
      grid-row-gap: 45.5px; } }
  @media (min-width: 1024px) {
    .posts-layout {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); } }

.accordion__item-title {
  background-color: #fff;
  border: solid 2px #eff2f3;
  display: block;
  position: relative;
  padding: 13px 32.5px 13px 19.5px; }
  .accordion__item-title::after {
    background-image: url("../images/icon-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: ' ';
    height: 13px;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    width: 13px; }

.accordion__item-content {
  background: #eff2f3;
  display: none;
  padding: 13px 19.5px; }

.accordion__item--active .accordion__item-content {
  display: block; }

.accordion__item--active .accordion__item-title::after {
  transform: translateY(-50%) rotate(0); }

.header {
  -webkit-tap-highlight-color: transparent;
  outline-style: none;
  user-select: none;
  background: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  color: #787e88;
  position: relative; }
  .header * {
    -webkit-tap-highlight-color: transparent;
    outline-style: none;
    user-select: none; }
  .header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 13px 26px; }
  .header__logo, .header__logo-link {
    display: block; }
  .header__logo-image {
    display: block;
    height: 26px; }
  .header__menu-icon, .header__menu-icon-link {
    display: block; }
  .header__menu-icon-image {
    display: block;
    height: 19.5px;
    transition: transform .3s; }
  .header__menu-icon--open .header__menu-icon-image {
    transform: rotate(90deg); }
  @media (max-width: 1365px) {
    .header__menu {
      background: #fff;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      left: 0;
      padding: 6.5px 0;
      position: absolute;
      text-align: center;
      top: calc( 100% + 13px);
      transform: translateX(100%);
      transition: transform .3s;
      width: 100%; }
    .header__menu--open {
      transform: translateX(0); }
    .header__menu-item {
      border-bottom: 1px solid #eee;
      display: block;
      padding: 13px 0; }
    .header__menu-item:last-child {
      border: 0; }
    .header__menu-link:not(.header__menu-link--button) {
      display: block;
      line-height: 26px; } }
  @media (min-width: 1366px) {
    .header__inner {
      height: 78px;
      padding: 0 32.5px; }
    .header__menu-icon {
      display: none; }
    .header__logo-image {
      height: 39px; }
    .header__menu-list {
      align-items: center;
      display: flex; }
    .header__menu-item {
      font-weight: 700;
      margin-left: 39px; }
    .header__menu-link:hover {
      opacity: .8; } }
  @media (min-width: 1800px) {
    .header__inner {
      padding: 0 52px; } }

.home-cover {
  background-image: url("../images/home-cover-bg.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding: 26px 0; }
  .home-cover__image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 26px; }
  .home-cover__image {
    display: block;
    height: auto;
    width: 130%; }
  .home-cover__text-content {
    text-align: center; }
  .home-cover__title {
    margin: 3.25px 0; }
  .home-cover__read-more {
    margin-top: 39px; }
  @media (min-width: 640px) {
    .home-cover {
      padding: 52px 0; }
      .home-cover__inner {
        align-items: center;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); }
      .home-cover__text-content {
        order: 1;
        text-align: left;
        z-index: 2; }
      .home-cover__image-wrapper {
        justify-content: flex-start;
        margin: 0;
        order: 2; }
      .home-cover__image {
        height: 286px;
        width: auto; } }
  @media (min-width: 768px) {
    .home-cover {
      padding: 0; }
      .home-cover__inner {
        grid-template-columns: minmax(0, 2fr) minmax(0, 3fr); }
      .home-cover__image {
        height: 390px;
        margin-bottom: -26px;
        margin-top: 26px; } }
  @media (min-width: 1024px) {
    .home-cover__image {
      height: 468px;
      margin-left: -26px; } }
  @media (min-width: 1366px) {
    .home-cover__image {
      height: 702px; }
    .home-cover__read-more {
      margin-top: 52px; } }
  @media (min-width: 1800px) {
    .home-cover__inner {
      grid-template-columns: minmax(0, 4fr) minmax(0, 5fr); }
    .home-cover__title {
      margin: 6.5px 0; }
    .home-cover__excerpt {
      max-width: 480px; }
    .home-cover__image-wrapper {
      align-items: flex-start; }
    .home-cover__image {
      height: 936px;
      margin-top: -26px; } }

.how-work {
  padding: 78px 0;
  text-align: center; }
  .how-work__heading {
    margin-bottom: 52px; }
  .how-work__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .how-work__item {
    margin-bottom: 39px;
    max-width: 280px; }
  .how-work__item-image {
    display: inline-block;
    height: 156px;
    margin-bottom: 13px; }
  .how-work__item-title {
    margin-bottom: 6.5px; }
  .how-work__button-wrapper {
    margin-top: 13px; }
  @media (min-width: 768px) {
    .how-work {
      padding: 104px 0 78px; } }
  @media (min-width: 1366px) {
    .how-work {
      background-image: url("../images/how-work-bg.svg");
      background-position: center left;
      background-repeat: no-repeat;
      background-size: auto 878px;
      padding: 156px 0; }
      .how-work__heading {
        margin-bottom: 39px; }
      .how-work__items {
        display: grid;
        grid-column-gap: 26px;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        margin: 0; }
      .how-work__item {
        margin: 0;
        max-width: none; }
      .how-work__item-image {
        height: 234px;
        margin-bottom: 52px; }
      .how-work__item-title {
        margin-bottom: 26px; }
      .how-work__item-excerpt {
        padding: 0 26px; }
      .how-work__button-wrapper {
        margin-top: 52px; } }
  @media (min-width: 1800px) {
    .how-work {
      background-size: auto 1098px;
      padding: 208px 0 156px; }
      .how-work__heading {
        margin-bottom: 104px; }
      .how-work__item-image {
        height: 260px; } }

.calculator {
  background-image: linear-gradient(-16deg, #78d64b -38%, #1583d8 102%);
  padding: 78px 0;
  margin-bottom: -1px; }
  .calculator__heading {
    margin-bottom: 52px; }
  .calculator__title {
    color: #fff;
    text-align: center; }
  .calculator__form {
    background: #fff;
    border: solid 1px #eff2f3;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 32.5px 26px; }
  .calculator__form-inner {
    display: grid;
    grid-row-gap: 26px; }
  .calculator__form-col--1 {
    border-bottom: 2px solid #E2E3E5; }
  .calculator__form-col--2 {
    text-align: center; }
  .calculator__input-group {
    margin-bottom: 26px; }
  .calculator__total-name {
    font-size: 18px;
    font-weight: 600;
    line-height: 26px; }
  .calculator__total-value {
    font-size: 24px;
    font-weight: 700;
    line-height: 32.5px; }
  .calculator__form-subtitle {
    margin-bottom: 13px; }
  .calculator__table-wrapper {
    border: solid 2px #E2E3E5;
    border-radius: 8px;
    padding: 6.5px 19.5px; }
  .calculator__table {
    font-size: 13px;
    font-weight: 600;
    width: 100%; }
    .calculator__table img {
      display: inline-block;
      height: 1em;
      vertical-align: middle; }
    .calculator__table tfoot {
      border-top: solid 2px #E2E3E5; }
  .calculator__button-wrapper {
    margin-top: 19.5px;
    text-align: center; }
  @media (min-width: 768px) {
    .calculator {
      background-image: url("../images/calculator-bg.svg"), linear-gradient(-16deg, #78d64b -38%, #1583d8 102%);
      background-position: left bottom;
      background-repeat: no-repeat;
      background-size: auto 75%, 100% 100%;
      border-radius: 0 140px 0 0;
      padding: 78px 0; }
      .calculator__form-inner {
        grid-column-gap: 52px;
        grid-row-gap: 39px;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); }
      .calculator__form-col--1 {
        order: 1; }
      .calculator__form-col--2 {
        order: 3; }
      .calculator__form-col--3 {
        order: 2; }
      .calculator__form-col--4 {
        order: 4; } }
  @media (min-width: 1366px) {
    .calculator {
      border-radius: 0 270px 0 0;
      padding: 156px 0; }
      .calculator__heading {
        margin-bottom: 78px; }
      .calculator__input-group {
        margin-bottom: 52px; }
      .calculator__total-name {
        font-size: 24px;
        line-height: 32.5px; }
      .calculator__total-value {
        font-size: 36px;
        line-height: 39px; }
      .calculator__table-wrapper {
        padding: 13px 32.5px; }
      .calculator__table {
        font-size: 18px; }
        .calculator__table td {
          padding: 6.5px 0; }
      .calculator__button-wrapper {
        margin-top: 39px; } }
  @media (min-width: 1800px) {
    .calculator__form {
      padding: 78px 52px; }
    .calculator__form-inner {
      grid-column-gap: 104px; } }

.what-need {
  background: #fff;
  padding: 78px 0;
  text-align: center; }
  .what-need__heading {
    margin-bottom: 52px; }
  .what-need__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 13px; }
  .what-need__item {
    margin-bottom: 39px;
    padding: 0 13px;
    width: 280px; }
  .what-need__item-image {
    display: inline-block;
    height: 104px;
    width: auto; }
  .what-need__item-text {
    font-weight: 400; }
  .what-need__doubts {
    margin-bottom: 13px; }
  @media (min-width: 1366px) {
    .what-need {
      background-image: url("../images/what-need-bg.svg");
      background-position: center right;
      background-repeat: no-repeat;
      background-size: auto 706px;
      padding: 123.5px 0; }
      .what-need__heading {
        margin-bottom: 78px; }
      .what-need__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-bottom: 58.5px; }
      .what-need__item {
        width: auto; }
      .what-need__item-image {
        height: 169px;
        margin-bottom: 52px; }
      .what-need__doubts {
        font-size: 18px;
        margin-bottom: 19.5px; } }
  @media (min-width: 1800px) {
    .what-need {
      background-size: auto 882px;
      padding: 156px 0; }
      .what-need__heading {
        margin-bottom: 104px; }
      .what-need__doubts {
        font-size: 22px;
        margin-bottom: 19.5px; }
      .what-need__item-image {
        height: 208px; } }

.why-choose {
  background-color: #eff2f3;
  border-radius: 120px 0 0 0;
  padding: 78px 0;
  position: relative;
  text-align: center; }
  .why-choose__inner {
    display: grid;
    position: relative;
    z-index: 2; }
  .why-choose__shape {
    height: 520px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); }
  .why-choose__heading {
    margin-bottom: 19.5px; }
  .why-choose__item {
    background-color: #fff;
    border: solid 1px rgba(124, 138, 147, 0.25);
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    margin-top: 19.5px;
    padding: 19.5px 26px;
    position: relative;
    text-align: left; }
  .why-choose__item-title {
    margin-bottom: 6.5px; }
  .why-choose__image {
    display: none; }
  @media (min-width: 1366px) {
    .why-choose {
      border-radius: 240px 0 0;
      padding: 117px 0 143px; }
      .why-choose__inner {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        grid-template-rows: minmax(0, 1fr); }
      .why-choose__shape {
        display: block;
        height: auto;
        left: 0;
        position: absolute;
        top: -26px;
        transform: translateY(0);
        width: 800px; }
      .why-choose__image {
        border-radius: 4px;
        display: block;
        height: 100%;
        width: auto; }
      .why-choose__heading {
        margin-top: 32.5px;
        text-align: left; }
      .why-choose__item {
        margin-top: 32.5px; }
        .why-choose__item:nth-child(even) {
          left: -91px;
          position: relative; }
      .why-choose__item-title {
        margin-bottom: 6.5px; } }
  @media (min-width: 1800px) {
    .why-choose__item {
      padding: 26px 32.5px; }
    .why-choose__shape {
      width: 850px; } }

.posts-last {
  background-image: url("../images/posts-last-bg-1.svg"), url("../images/posts-last-bg-2.svg");
  background-position: left center, right bottom;
  background-repeat: no-repeat;
  background-size: auto 400px, auto 300px;
  margin-bottom: -1px;
  padding: 78px 0;
  text-align: center; }
  .posts-last__heading {
    margin-bottom: 52px; }
  .posts-last__button-wrapper {
    margin-top: 39px; }
  @media (min-width: 1366px) {
    .posts-last {
      background-size: auto 586px, auto 454px;
      padding: 130px 0 156px 0; }
      .posts-last__heading {
        margin-bottom: 78px; }
      .posts-last__button-wrapper {
        margin-top: 52px; } }
  @media (min-width: 1800px) {
    .posts-last {
      background-size: auto 700px, auto 600px;
      padding: 156px 0 182px 0; }
      .posts-last__heading {
        margin-bottom: 104px; }
      .posts-last__button-wrapper {
        margin-top: 78px; } }

.banner {
  background-color: #eff2f3;
  padding: 52px 0;
  text-align: center; }
  .banner__title {
    margin-bottom: 13px; }
  @media (min-width: 1366px) {
    .banner {
      padding: 71.5px 0; }
      .banner__title {
        margin-bottom: 32.5px; } }
  @media (min-width: 1800px) {
    .banner {
      padding: 78px 0; }
      .banner__title {
        margin-bottom: 39px; } }

.footer {
  background-image: linear-gradient(163deg, #78d64b -69%, #1583d8 86%);
  color: #fff;
  padding: 52px 0 26px;
  text-align: center; }
  .footer__top {
    display: grid;
    grid-row-gap: 32.5px; }
  .footer__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 6.5px; }
  .footer__menu-link, .footer__contact-link, .footer__bottom-link {
    display: flex;
    font-size: 14px;
    height: 29.25px;
    line-height: 29.25px;
    justify-content: center; }
    .footer__menu-link:hover, .footer__contact-link:hover, .footer__bottom-link:hover {
      opacity: .8; }
    .footer__menu-link .footer__icon, .footer__contact-link .footer__icon, .footer__bottom-link .footer__icon {
      display: block;
      width: 20px;
      margin-right: 10px; }
  .footer__social-list {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 14.3px; }
  .footer__social-item {
    margin: 0 6px; }
    .footer__social-item .footer__icon {
      display: block;
      width: 26px; }
  .footer__social-link:hover {
    opacity: .8; }
  .footer__bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    margin-top: 26px;
    padding-top: 26px; }
  @media (min-width: 480px) {
    .footer__bottom-list {
      display: flex;
      justify-content: center; }
    .footer__bottom-item {
      margin: 0 10px; } }
  @media (min-width: 640px) {
    .footer__top {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr); }
    .footer__logo, .footer__social {
      grid-column: span 2; } }
  @media (min-width: 640px) {
    .footer__top {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); }
    .footer__logo {
      grid-column: span 3; }
    .footer__social {
      grid-column: span 1; }
    .footer__title {
      text-align: left; }
    .footer__menu-link, .footer__contact-link, .footer__social-list {
      justify-content: flex-start;
      margin: 0; } }
  @media (min-width: 1024px) {
    .footer {
      text-align: left; }
      .footer__top {
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr); }
      .footer__logo {
        grid-column: span 1; }
      .footer__title {
        margin-top: 6.5px; } }
  @media (min-width: 1366px) {
    .footer__title {
      font-size: 20px;
      margin-bottom: 13px; }
    .footer__menu-link, .footer__contact-link, .footer__bottom-link {
      font-size: 16px;
      height: 32.5px;
      line-height: 32.5px; }
      .footer__menu-link .footer__icon, .footer__contact-link .footer__icon, .footer__bottom-link .footer__icon {
        width: 24px;
        margin-right: 10px; }
    .footer__social-item {
      margin: 0 36px 0 0; }
      .footer__social-item .footer__icon {
        width: 31px; } }

.posts-single {
  background-image: url("../images/posts-single-bg.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center top;
  padding: 26px 0; }
  .posts-single__inner {
    max-width: 994px; }
  .posts-single__wrapper {
    background: #fff;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 26px;
    border-radius: 4px;
    padding: 26px 0;
    justify-content: center;
    text-align: center; }
  .posts-single__date {
    color: #7c8a93;
    font-size: 14px;
    margin-bottom: -13px; }
  .posts-single__image {
    border-radius: 14px;
    display: inline-block;
    height: auto;
    width: calc( 100% - 52px); }
  .posts-single__share {
    border-radius: 4px;
    background: #eff2f3;
    padding: 26px;
    text-align: center; }
  .posts-single__share-title {
    font-weight: 600;
    margin-bottom: 26px; }
  .posts-single__social-list {
    display: flex;
    justify-content: center; }
  .posts-single__social-item {
    margin: 0 8px; }
  @media (min-width: 640px) {
    .posts-single__wrapper {
      grid-row-gap: 52px;
      padding: 52px; } }
  @media (min-width: 1024px) {
    .posts-single {
      padding: 52px 0; }
      .posts-single__wrapper {
        grid-template-columns: 570px; } }
  @media (min-width: 1366px) {
    .posts-single {
      padding: 65px 0; }
      .posts-single__wrapper {
        grid-row-gap: 52px;
        padding: 58.5px; }
      .posts-single__date {
        font-size: 16px; }
      .posts-single__share-title {
        font-size: 18px; } }
  @media (min-width: 1800px) {
    .posts-single {
      padding: 104px 0; }
      .posts-single__share-title {
        font-size: 20px; } }

.posts-related {
  background-color: #eff2f3;
  background-image: url("../images/posts-related-bg.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 400px, auto 300px;
  margin-bottom: -1px;
  padding: 78px 0;
  text-align: center; }
  .posts-related__heading {
    margin-bottom: 52px; }
  .posts-related__items {
    display: grid;
    grid-column-gap: 26px;
    grid-row-gap: 26px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }
  .posts-related__button-wrapper {
    margin-top: 39px; }
  @media (min-width: 640px) {
    .posts-related__items {
      grid-column-gap: 45.5px;
      grid-row-gap: 45.5px; } }
  @media (min-width: 1366px) {
    .posts-related {
      background-size: auto 450px;
      padding: 130px 0 156px 0; }
      .posts-related__heading {
        margin-bottom: 78px; }
      .posts-related__button-wrapper {
        margin-top: 52px; } }
  @media (min-width: 1800px) {
    .posts-related {
      background-size: auto 600px;
      padding: 156px 0 182px 0; }
      .posts-related__heading {
        margin-bottom: 104px; }
      .posts-related__button-wrapper {
        margin-top: 78px; } }

.page-cover {
  background: url("../images/page-cover-bg.svg");
  background-position: center top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  height: 312px;
  padding: 52px 0 0;
  text-align: center; }
  .page-cover__title, .page-cover__excerpt {
    color: #fff;
    margin-bottom: 13px; }
  @media (min-width: 768px) {
    .page-cover {
      background-position: center bottom;
      background-size: cover;
      height: 364px; }
      .page-cover__inner {
        max-width: 640px; } }
  @media (min-width: 1024px) {
    .page-cover {
      padding: 71.5px 0 0 0;
      height: 416px; }
      .page-cover__inner {
        max-width: 640px; } }
  @media (min-width: 1366px) {
    .page-cover {
      height: 494px; }
      .page-cover__inner {
        max-width: 748px; }
      .page-cover__title {
        margin-bottom: 39px; } }
  @media (min-width: 1800px) {
    .page-cover {
      height: 572px;
      padding: 104px 0 0 0; }
      .page-cover__inner {
        max-width: 748px; }
      .page-cover__title {
        margin-bottom: 39px; } }

.video {
  margin: -91px 0 52px; }
  .video__wrapper {
    display: flex;
    justify-content: center; }
  .video__iframe {
    display: block;
    height: 157.5px;
    width: 280px; }
  @media (min-width: 480px) {
    .video {
      margin: -117px 0 52px; }
      .video__iframe {
        height: 202.5px;
        width: 360px; } }
  @media (min-width: 768px) {
    .video {
      margin: -169px 0 52px; }
      .video__iframe {
        height: 236.25px;
        width: 420px; } }
  @media (min-width: 1024px) {
    .video {
      margin: -169px 0 52px; }
      .video__iframe {
        height: 270px;
        width: 480px; } }
  @media (min-width: 1366px) {
    .video {
      margin: -208px 0 78px; }
      .video__iframe {
        height: 315px;
        width: 560px; } }
  @media (min-width: 1800px) {
    .video {
      margin: -260px 0 78px; }
      .video__iframe {
        height: 360px;
        width: 640px; } }

.posts-featured {
  background-image: url("../images/posts-featured.svg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 500px auto;
  margin: 78px 0 -208px;
  padding-bottom: 286px;
  text-align: center; }
  .posts-featured__heading {
    margin-bottom: 52px; }
  .posts-featured__items {
    display: grid;
    grid-template-columns: minmax(0, 280px);
    grid-row-gap: 39px;
    justify-content: center; }
  @media (min-width: 768px) {
    .posts-featured__items {
      grid-row-gap: 39px;
      grid-template-columns: minmax(0, 1fr); } }
  @media (min-width: 1366px) {
    .posts-featured {
      background-size: 800px auto;
      padding-bottom: 364px;
      margin: 123.5px 0 -208px; }
      .posts-featured__heading {
        margin-bottom: 78px; }
      .posts-featured__items {
        grid-row-gap: 78px; } }
  @media (min-width: 1800px) {
    .posts-featured {
      padding-bottom: 364px;
      margin: 123.5px 0 -208px; }
      .posts-featured__heading {
        margin-bottom: 104px; }
      .posts-featured__items {
        grid-row-gap: 104px; } }

.posts-loop {
  background-color: #eff2f3;
  border-radius: 120px 0 0 0;
  padding: 78px 0;
  position: relative;
  z-index: 2; }
  .posts-loop__pagination {
    margin-top: 39px; }
  @media (min-width: 1366px) {
    .posts-loop {
      border-radius: 280px 0 0 0;
      padding: 123.5px 0; }
      .posts-loop__pagination {
        margin-top: 78px; } }
  @media (min-width: 1800px) {
    .posts-loop {
      padding: 156px 0; } }

.how-work-questions {
  background-image: url("../images/posts-related-bg.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: auto 400px;
  margin-top: -52px;
  padding-bottom: 52px; }
  .how-work-questions__inner {
    display: grid;
    grid-row-gap: 26px; }
  .how-work-questions__menu-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-row-gap: 8px; }
  .how-work-questions__menu-link {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    display: block;
    font-weight: 700;
    padding: 13px 19.5px; }
    .how-work-questions__menu-link:hover {
      background: #eee; }
  .how-work-questions__menu-item--active .how-work-questions__menu-link {
    border-right: 4px solid #5ba637; }
  .how-work-questions__title {
    margin-bottom: 26px; }
  .how-work-questions__content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    padding: 13px 19.5px; }
  @media (min-width: 768px) {
    .how-work-questions {
      margin-top: -130px;
      padding-bottom: 78px; } }
  @media (min-width: 1024px) {
    .how-work-questions {
      margin-top: -156px;
      padding-bottom: 78px; } }
  @media (min-width: 1366px) {
    .how-work-questions {
      background-size: auto 550px; }
      .how-work-questions__inner {
        grid-template-columns: minmax(0, 3fr) minmax(0, 5fr);
        grid-column-gap: 78px; }
      .how-work-questions__menu-link {
        font-size: 20px;
        padding: 19.5px 26px; }
      .how-work-questions__content {
        padding: 52px 39px; }
      .how-work-questions__title {
        margin-bottom: 52px; } }

.faq {
  margin-top: -20vw; }
  .faq__search-form {
    margin-bottom: 78px;
    text-align: center; }
  .faq__search-form-input {
    max-width: 320px;
    width: 80%; }
  .faq__inner {
    max-width: 772px; }
  .faq__title {
    margin-bottom: 26px;
    text-align: center; }
  .faq__accordion {
    margin-bottom: 39px; }
  .faq__questions-featured {
    padding: 26px 0; }
  .faq__questions {
    background-color: #eff2f3;
    border-radius: 0 120px 0 0;
    padding: 78px 0; }
    .faq__questions .accordion__item-content {
      background-color: rgba(124, 138, 147, 0.1);
      border: solid 1px #eff2f3; }
  @media (min-width: 480px) {
    .faq {
      margin-top: -104px; }
      .faq__search-form {
        margin-bottom: 104px; }
      .faq__title {
        margin-bottom: 32.5px; }
      .faq__accordion {
        margin-bottom: 52px; } }
  @media (min-width: 768px) {
    .faq {
      margin-top: -156px; }
      .faq__search-form {
        margin-bottom: 208px; }
      .faq__search-form-input {
        max-width: 560px; } }
  @media (min-width: 1366px) {
    .faq {
      margin-top: -208px; }
      .faq__search-form {
        margin-bottom: 221px; }
      .faq__questions-featured {
        padding: 26px 0 78px; }
      .faq__questions {
        border-radius: 0 280px 0 0;
        padding: 91px 0 143px; } }
  @media (min-width: 1800px) {
    .faq {
      margin-top: -234px; }
      .faq__search-form {
        margin-bottom: 312px; }
      .faq__questions-featured {
        padding: 26px 0 78px; }
      .faq__questions {
        padding: 130px 0 143px; } }

/*# sourceMappingURL=style.css.map */
