// Line Height
$lh: 26px;

// Colors

$white: #fff;
$apple: #5ba637;
$bright-gray: #394250;
$raven: #787e88;
$porcelain: #eff2f3;
$iron: #E2E3E5;
$atlantis: #78D64B;
$oslo-gray: #8B8F96;
$slate-gray: #7c8a93;
$mine-shaft: #222222;
$dove-gray: #707070;
$ebony-clay: #2d3047;
$iron: #e2e3e5;
$bright-gray: #333b47;
$french-gray: #c5c7cb;
$selective-yellow: #ffb300;
$trout: #505762;
$athens-gray: #f5f6f8;
$atlantis: #78D64B;


$success: #005100;
$error: #ff0b00;


// Fonts
$ff1: 'Nunito', sans-serif;
$ff2: 'Quicksand', sans-serif;


// Spacing
$dc1: 16px;
$dc2: 24px;