// Line Height
$lh: 26px;

// Colors

$white: #fff;
$apple: #5ba637;
$bright-gray: #394250;
$raven: #787e88;
$porcelain: #eff2f3;
$iron: #E2E3E5;
$atlantis: #78D64B;
$oslo-gray: #8B8F96;
$slate-gray: #7c8a93;
$mine-shaft: #222222;

$ebony-clay: #2d3047;
$sunglow: #ffc43d;
$polar: #daf6f6;
$robins-egg-blue: #00D3D2;


$manatee: #878aa6;
$gray: #828282;
$silver: #bdbdbd;
$mercury: #e6e6e6;
$alabaster: #fcfcfc;
$concrete: #f2f2f2;



$success: #005100;
$error: #ff0b00;


// Fonts
$ff1: 'Nunito', sans-serif;
$ff2: 'Quicksand', sans-serif;
